@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

section {
  padding: 3rem 1rem;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

.heroSection {
  padding: 8rem 1.5rem;
}

.heroContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.heroTexts {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.heroTexts h1,
.heroTexts h2,
.heroTexts h3,
.heroTexts p {
  line-height: 1;
}

.heroTexts span {
  color: var(--supporting-text);
  font-size: 1.5em;
}

.heroTexts h2 {
  font-size: 4em;
  font-weight: 600;
}

.heroTexts h1 {
  color: var(--highlight);
  font-family: "Bebas Neue", sans-serif;
  font-size: 7em;
  letter-spacing: 3%;
}

.heroTexts h3 {
  font-size: 2em;
  margin-bottom: 0.2em;
}

.heroTexts p {
  color: var(--supporting-text);
  font-size: 0.875em;
}

.heroIllustration {
  position: relative;
  width: 30%;
  height: 700px;
}

.heroIllustration img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
}

.heroIllustration .blob {
  z-index: 1;
  width: 950px;

  opacity: 0.85;
  filter: blur(1px);
}

.heroIllustration .programming {
  z-index: 2;
  width: 620px;
  transition:
    opacity 1s ease,
    transform 1s ease;
  opacity: 0;
  pointer-events: none;
}

.programming.active {
  opacity: 1;
  pointer-events: auto;
}

.aboutContent,
.projectsContent {
  display: flex;
  position: relative;
  gap: 2.5rem;
  align-items: flex-start;
  padding-top: 2rem;
}

.aboutContent::before,
.projectsContent::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--text-color);
}

.leftContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.leftContent h1 {
  font-size: 3em;
  font-weight: 600;
  line-height: 1;
}

.leftContent p {
  font-size: 1em;
}

.rightContent {
  flex: 1;
}

.educationPart,
.experiencePart,
.techStackPart {
  position: relative;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.educationPart::after,
.experiencePart::after,
.techStackPart::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--text-color);
  opacity: 25%;
}

.educationPart h2,
.experiencePart h2,
.techStackPart h2 {
  font-size: 1.5em;
  font-weight: 400;
}

.educationPart > p {
  font-size: 0.875em;
}

.educationPart span {
  font-size: 0.75em;
}

.school,
.company {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.school h3,
.company h3 {
  font-size: 1em;
  font-weight: 600;
}

.school p,
.company p {
  font-size: 1em;
  font-weight: 400;
}

.experienceContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.experience {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.experience ul {
  line-height: 2;
}

.experience ul li {
  font-size: 1em;
  font-weight: 400;
}

.stackContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.stack {
  padding: 0.8rem 1.3rem;
  background-color: var(--card-bg);
  border: none;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  gap: 0.5em;
}

.stack span {
  font-size: 0.875em;
}

.stack i {
  font-size: 1.2rem;
}

.projectsContent .leftContent {
  flex: 1;
}

.projectsContent .rightContent {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.projectCard {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 1.5rem;
  background-color: var(--card-bg);
  padding: 1rem;
  border: 1px solid var(--card-stroke);
  border-radius: 20px;
}

.cardLeft {
  border: none;
  border-radius: 20px;
  min-height: 450px;
  overflow: hidden;
  position: relative;
}

.cardLeft .projects {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition:
    opacity 1s ease,
    transform 1s ease;
  opacity: 0;
  pointer-events: none;
}

.projects.active {
  opacity: 1;
  pointer-events: auto;
}

.cardRight {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 90%;
}

.smallImagesContainer {
  flex: 1;
  display: flex;
}

.card {
  flex: 1;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.card .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: opacity 0.2s ease;
}

.card .overlay span {
  color: var(--text-color);
  font-size: 1.125em;
  transform: translateY(10px);
  transition: transform 0.3s ease;
}

.card:hover .overlay {
  opacity: 1;
}

.card:hover .overlay span {
  transform: translateY(0);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.4s ease;
}

.card:hover img {
  transform: scale(1.05);
}

.bottom {
  position: relative;
  padding-top: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.bottom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--text-color);
  opacity: 25%;
}

.bottom p {
  flex: 1;
}

.bottom button {
  padding: 0.6rem 1.2rem;
  flex: none;
  border-radius: 10px;
  border: none;
  background-color: var(--highlight);
  transition: all 0.25s ease;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 0.5em;
}

.bottom button span {
  font-size: 1.25em;
}

.bottom button i {
  font-size: 1.2rem;
}

.bottom button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
